$darkMain: #000000;
$lightMain: #ffffff;
$darkAccent: #ffde22;
$lightAccent: #ff8928;
$warning: #ff414e;

$padWidth: 120px;
$padHeight: 120px;

:export {
  darkMain: $darkMain;
  lightMain: $lightMain;
  darkAccent: $darkAccent;
  lightAccent: $lightAccent;
  warning: $warning;
}

@keyframes color-change {
  0% {
    background: $warning;
  }
  100% {
    background: $darkAccent;
  }
}

#root {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: $darkAccent;
}

.app {
  text-align: center;
  background: $lightAccent;
  width: 500px;
  display: block;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  header {
    display: block;
    text-align: left;
    width: $padWidth * 3 + 40;
    align-items: center;
    margin: 30px auto 0 auto;
  }
  .app-display {
    height: 20px;
    width: 200px;
    margin: 0 auto;
    background: darken($lightAccent, 10%);
    border-radius: 3px;
  }
  .power-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    cursor: pointer;
    background: $warning;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px darken($lightAccent, 30%);
  }
  .drum-pad-set {
    background: darken($lightAccent, 10%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px auto;
    width: $padWidth * 3 + 40;
    height: $padHeight * 3 + 40;
    border-radius: 3px;
    .drum-pad {
      width: $padWidth;
      height: $padHeight;
      cursor: pointer;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2em;
      background: $darkMain;
      border-radius: 3px;
      box-shadow: 3px 3px 3px darken($lightAccent, 30%);
      &:active {
        background: $warning;
        animation-name: color-change;
        animation-duration: 0.1s;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .app {
    transform: scale(0.6);
  }
}
